Pour le projet nous avons décidé de partir sur une IA qui peut prédire qu'elle équipe va gagner lors d'une confrontation pour cela nous avons été chercher sur kaggle une bdd pour avoir les data et nous les avons retravaillés pour être sûr que c'est donné seront lisible par IA

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = ("C:/laragon/www/python/results.csv")

In [3]:
url

'C:/laragon/www/python/results.csv'

In [4]:
data = pd.read_csv(url)

Voici le tableau excel avex tout les données que nous avons pus recupéré. On peux y retrouver plusieurs informations comme la date des confrontations ainsi que les nom d'équipe qui se sont confronté avec leur score dans quel pays il sont jouer ainsi que la ville si il etait dans une situation de neutralité c'est a dire si il etait avantage ou non en fonctione de si il jouer dans leur pays et les differents tournois

In [5]:
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44552,2023-03-28,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,True
44553,2023-03-28,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,True
44554,2023-03-28,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,False
44555,2023-03-28,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,False
44556,2023-03-29,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,False

In [6]:
def determine_winner(row):
    if row["home_score"] > row["away_score"]:
        return 0
    elif row["home_score"] < row["away_score"]:
        return 1
    else:
        return 2

data["win"] = data.apply(determine_winner, axis=1)

- 0 = home_score win
- 1 = away_score win
- 2 = match nul

Ici j'ai rajouter une colonnes win pour savoir qui a gagné entre les 2 equipes

In [7]:
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,win
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,2
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,0
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,0
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,2
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,0
...,...,...,...,...,...,...,...,...,...,...
44552,2023-03-28,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,True,0
44553,2023-03-28,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,True,2
44554,2023-03-28,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,False,1
44555,2023-03-28,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,False,1
44556,2023-03-29,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,False,2

Nous alons maintenant transformer les date en 3 colonnes pour pouvoir avoir la date le jour et le mois

In [8]:
date_parts = data["date"].str.split("-", expand=True)
data["year"] = date_parts[0].astype(int)
data["month"] = date_parts[1].astype(int)
data["day"] = date_parts[2].astype(int)

data = data.drop("date", axis=1)

In [9]:
data

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,win,year,month,day
0,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,2,1872,11,30
1,England,Scotland,4,2,Friendly,London,England,False,0,1873,3,8
2,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,0,1874,3,7
3,England,Scotland,2,2,Friendly,London,England,False,2,1875,3,6
4,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,0,1876,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...
44552,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,True,0,2023,3,28
44553,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,True,2,2023,3,28
44554,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,False,1,2023,3,28
44555,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,False,1,2023,3,28
44556,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,False,2,2023,3,29

- Colonne neutral indiquant si le match a été joué dans un lieu neutre, je l'ai transformer en binaire pour que IA puisse la comprendre

In [10]:
data["neutral"] = data["neutral"].astype(int)

In [11]:
data

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,win,year,month,day
0,Scotland,England,0,0,Friendly,Glasgow,Scotland,0,2,1872,11,30
1,England,Scotland,4,2,Friendly,London,England,0,0,1873,3,8
2,Scotland,England,2,1,Friendly,Glasgow,Scotland,0,0,1874,3,7
3,England,Scotland,2,2,Friendly,London,England,0,2,1875,3,6
4,Scotland,England,3,0,Friendly,Glasgow,Scotland,0,0,1876,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...
44552,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,1,0,2023,3,28
44553,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,1,2,2023,3,28
44554,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,0,1,2023,3,28
44555,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,0,1,2023,3,28
44556,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,0,2,2023,3,29

In [12]:
nb_total_tournaments = data["tournament"].nunique()

In [13]:
nb_total_tournaments

142

In [14]:
tournaments_count = data["tournament"].value_counts()

In [15]:
tournaments_count

Friendly                                17593
FIFA World Cup qualification             7878
UEFA Euro qualification                  2631
African Cup of Nations qualification     1976
FIFA World Cup                            964
                                        ...
Évence Coppée Trophy                        1
Copa Confraternidad                         1
Real Madrid 75th Anniversary Cup            1
TIFOCO Tournament                           1
FIFA 75th Anniversary Cup                   1
Name: tournament, Length: 142, dtype: int64

In [16]:
def regrouper_tournois(data):
    # Comptage du nombre d'occurrences de chaque tournoi
    tournaments_count = data["tournament"].value_counts()

    # Création d'une liste avec les noms des tournois présents moins de 20 fois
    tournaments_to_group = tournaments_count[tournaments_count < 30].index.tolist()

    # Remplacement des noms des tournois par "Autre" s'ils sont présents dans la liste
    data.loc[data["tournament"].isin(tournaments_to_group), "tournament"] = "Autre"

    return data

regrouped_tournaments = regrouper_tournois(data)
tournaments_count = data["tournament"].value_counts()
tournaments_count

Friendly                                      17593
FIFA World Cup qualification                   7878
UEFA Euro qualification                        2631
African Cup of Nations qualification           1976
FIFA World Cup                                  964
                                              ...
CONIFA European Football Cup                     49
Pan American Championship                        39
Brazil Independence Cup                          37
USA Cup                                          37
United Arab Emirates Friendship Tournament       31
Name: tournament, Length: 66, dtype: int64

In [17]:
data

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,win,year,month,day
0,Scotland,England,0,0,Friendly,Glasgow,Scotland,0,2,1872,11,30
1,England,Scotland,4,2,Friendly,London,England,0,0,1873,3,8
2,Scotland,England,2,1,Friendly,Glasgow,Scotland,0,0,1874,3,7
3,England,Scotland,2,2,Friendly,London,England,0,2,1875,3,6
4,Scotland,England,3,0,Friendly,Glasgow,Scotland,0,0,1876,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...
44552,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,1,0,2023,3,28
44553,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,1,2,2023,3,28
44554,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,0,1,2023,3,28
44555,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,0,1,2023,3,28
44556,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,0,2,2023,3,29

- O = equipe qui n'ons pas jouer
- 1 = equipe qui joue (home)
- -1 = equipe qui joue (away)

In [25]:
# Instanciation de la classe OneHotEncoder pour la colonne "home_team"
home_team_encoder = OneHotEncoder()

# Encodage de la colonne "home_team" en variables binaires
encoded_home_team = home_team_encoder.fit_transform(data[["home_team"]]).toarray()

# Instanciation de la classe OneHotEncoder pour la colonne "away_team"
away_team_encoder = OneHotEncoder()

# Encodage de la colonne "away_team" en variables binaires, avec l'option "-1" pour les valeurs manquantes
encoded_away_team = away_team_encoder.fit_transform(data[["away_team"]].fillna('-1')).toarray() * -1

# Création des DataFrames encodés avec le DataFrame original
encoded_home_team_df = pd.DataFrame(
    encoded_home_team,
    columns=home_team_encoder.get_feature_names_out(['home_team'])
)
encoded_away_team_df = pd.DataFrame(
    encoded_away_team,
    columns=away_team_encoder.get_feature_names_out(['away_team'])
)
data_encoded = pd.concat([data, encoded_home_team_df, encoded_away_team_df], axis=1)

In [26]:
data_encoded

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,win,year,...,away_team_Western Sahara,away_team_Yemen,away_team_Yemen DPR,away_team_Ynys Môn,away_team_Yorkshire,away_team_Yugoslavia,away_team_Zambia,away_team_Zanzibar,away_team_Zimbabwe,away_team_Åland Islands
0,Scotland,England,0,0,Friendly,Glasgow,Scotland,0,2,1872,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1,England,Scotland,4,2,Friendly,London,England,0,0,1873,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
2,Scotland,England,2,1,Friendly,Glasgow,Scotland,0,0,1874,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
3,England,Scotland,2,2,Friendly,London,England,0,2,1875,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
4,Scotland,England,3,0,Friendly,Glasgow,Scotland,0,0,1876,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44552,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,1,0,2023,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
44553,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,1,2,2023,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
44554,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,0,1,2023,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
44555,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,0,1,2023,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
44556,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,0,2,2023,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0