In [1]:
import pandas as pd
import numpy as np

In [2]:
url = ("C:/laragon/www/python/results.csv")

In [3]:
url

'C:/laragon/www/python/results.csv'

In [4]:
data = pd.read_csv(url)

In [5]:
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44552,2023-03-28,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,True
44553,2023-03-28,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,True
44554,2023-03-28,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,False
44555,2023-03-28,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,False
44556,2023-03-29,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,False

In [6]:
def determine_winner(row):
    if row["home_score"] > row["away_score"]:
        return 0
    elif row["home_score"] < row["away_score"]:
        return 1
    else:
        return 2

data["win"] = data.apply(determine_winner, axis=1)

- 0 = home_score win
- 1 = away_score win
- 2 = match nul

In [7]:
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,win
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,2
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,0
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,0
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,2
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,0
...,...,...,...,...,...,...,...,...,...,...
44552,2023-03-28,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,True,0
44553,2023-03-28,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,True,2
44554,2023-03-28,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,False,1
44555,2023-03-28,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,False,1
44556,2023-03-29,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,False,2

- faire 3 colonnes pour la date
- ajout colonnes nb d'equipe differente 
- combien de type de tournois different
- convertir tout les boolean en 1 ou 0 
- convertir la colones y en 0 1 2

In [8]:
date_parts = data["date"].str.split("-", expand=True)
data["year"] = date_parts[0].astype(int)
data["month"] = date_parts[1].astype(int)
data["day"] = date_parts[2].astype(int)

data = data.drop("date", axis=1)

In [9]:
data

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,win,year,month,day
0,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,2,1872,11,30
1,England,Scotland,4,2,Friendly,London,England,False,0,1873,3,8
2,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,0,1874,3,7
3,England,Scotland,2,2,Friendly,London,England,False,2,1875,3,6
4,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,0,1876,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...
44552,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,True,0,2023,3,28
44553,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,True,2,2023,3,28
44554,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,False,1,2023,3,28
44555,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,False,1,2023,3,28
44556,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,False,2,2023,3,29

- Colonne neutral indiquant si le match a été joué dans un lieu neutre

In [10]:
data["neutral"] = data["neutral"].astype(int)

In [11]:
data

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,win,year,month,day
0,Scotland,England,0,0,Friendly,Glasgow,Scotland,0,2,1872,11,30
1,England,Scotland,4,2,Friendly,London,England,0,0,1873,3,8
2,Scotland,England,2,1,Friendly,Glasgow,Scotland,0,0,1874,3,7
3,England,Scotland,2,2,Friendly,London,England,0,2,1875,3,6
4,Scotland,England,3,0,Friendly,Glasgow,Scotland,0,0,1876,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...
44552,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,1,0,2023,3,28
44553,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,1,2,2023,3,28
44554,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,0,1,2023,3,28
44555,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,0,1,2023,3,28
44556,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,0,2,2023,3,29

In [12]:
nb_total_tournaments = data["tournament"].nunique()

In [13]:
nb_total_tournaments

142

In [14]:
tournaments_count = data["tournament"].value_counts()

In [15]:
tournaments_count

Friendly                                17593
FIFA World Cup qualification             7878
UEFA Euro qualification                  2631
African Cup of Nations qualification     1976
FIFA World Cup                            964
                                        ...
Évence Coppée Trophy                        1
Copa Confraternidad                         1
Real Madrid 75th Anniversary Cup            1
TIFOCO Tournament                           1
FIFA 75th Anniversary Cup                   1
Name: tournament, Length: 142, dtype: int64

In [ ]:
# Demander les deux pays
country1 = input("Entrez le premier pays : ")
country2 = input("Entrez le deuxième pays : ")

def chances_victoire(data, country1, country2):
    # Sélection des matchs impliquant les deux équipes
    games = data[(data["home_team"].isin([country1, country2])) & (data["away_team"].isin([country1, country2]))]

    # Calcul des chances de victoire de chaque équipe
    nb_games = len(games)
    nb_wins_country1 = len(games[(games["home_team"] == country1) & (games["win"] == 0) | 
                                (games["away_team"] == country1) & (games["win"] == 1)])
    nb_wins_country2 = len(games[(games["home_team"] == country2) & (games["win"] == 0) | 
                                (games["away_team"] == country2) & (games["win"] == 1)])
    nb_draws = len(games[(games["win"] == 2)])

    # Affichage des résultats
    print("Chances de victoire de", country1, ":", round(100 * nb_wins_country1 / nb_games, 2), "%")
    print("Chances de victoire de", country2, ":", round(100 * nb_wins_country2 / nb_games, 2), "%")
    print("Match nul :", round(100 * nb_draws / nb_games, 2), "%")